# R
.Rhistory
.RData
.Ruserdata
.RDataTmp
.Rprofile

# renv
renv/library/
renv/python/

# OS
.DS_Store
Thumbs.db
.Rproj.user
SubnationalPP.Rproj

# Testing scripts
testbed.R
forecast_reconciliation_test.R

# Temp data files
data/temp

# External Repos
bayespop_workshop/
bayesRecon/
BayesianReconciliation/
hts/